:root {
  --color-gifgroen: #00FF00;
  --color-dark: #16151d;
}

body {
  margin: 0;
  background: #000;
  color: #FFF;
  font-family: "Roboto", sans-serif;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero-section {
  background: darkslategray;
  flex-direction: column;
}

.hero-text {
  max-width: 50rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 200;
}

.hero-title {
  font-size: 5rem;
}

.image-wrapper-expert {
  height: 10rem;
  width: 10rem;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  margin: 0;
}

.cards-title {
  color: var(--color-gifgroen);
  font-size: 2.5rem;
  margin: 3rem 0 0;
  text-transform: uppercase;
}

.cards-subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 1rem 0 8.5rem;
  text-transform: uppercase;
}

.cards-section {
  background: var(--color-dark);
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
}

.cards-container {
  display: flex;
  gap: 2rem;
}

.card-container {
  text-align: center;
  font-size: 1.25rem;
}

.card {
  height: 25rem;
  width: 17.5rem;
  background: black;
  border-radius: 2rem;
  display: flex;
  align-items: center;
}

.card-title {
  padding: .2rem 0;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
}

.justify-left {
  justify-content: flex-start;
}

.justify-right {
  justify-content: flex-end;
}

.text-align-right {
  text-align: end;
}

.card-text {
  color: var(--color-gifgroen);
  padding: 1rem 0 0rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
}

.timeline-section {
  padding-top: 3.5rem;
  background: var(--color-dark);
  justify-content: center;
  flex-direction: column;
  gap: 0;
}

.timeline-top-title {
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

.timeline-subtitle {
  color: var(--color-gifgroen);
  font-size: 2rem;
  margin-top: .5rem;
}

.timeline-items-container {
  padding-top: 3.5rem;
}

.timeline-item {
  height: 20rem;
  width: 75rem;
  display: flex;
  justify-content: stretch;
}

.timeline-item-side {
  flex: 1;
  padding: 0 5rem;
  align-items: center;
  display: flex;
}

.timeline-item-left {
  border-right: 2px solid var(--color-gifgroen);
}

.timeline-item-right {
  border-left: 2px solid var(--color-gifgroen);
  align-items: center;
}

.timeline-image-wrapper {
  height: 12.5rem;
  width: 12.5rem;
  border-radius: 20px;
  overflow: hidden;
}

.timeline-title {
  text-transform: uppercase;
  color: var(--color-gifgroen);
  margin: 0;
}

.timeline-year {
  font-size: 2rem;
  font-weight: 700;
  margin: .25rem 0 1rem;
}

.timeline-text {
  letter-spacing: 1px;
}

/* Animations */
.auto-rotate-animation {
  animation: autoRotateAnimation;
  animation-timeline: view();
}

.auto-show-animation {
  animation: textAppear both;
  animation-timeline: view();
  animation-range: entry 20% cover 100vh;
}

.image-reveal-animation {
  animation: imageRevealAnimation both;
  animation-timeline: view(10% 5%);
}

.fade-up-animation {
  animation: fadeUpAnimation both;
  animation-timeline: view();
}

.next-section {
  background: var(--color-dark);
}

@keyframes autoRotateAnimation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(300deg);
  }
}

@keyframes textAppear {
  from {
    opacity: 0;
    transform: translateY(7rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes imageRevealAnimation {
  from {
    filter: saturate(0) contrast(4) brightness(.1) blur(5px);
    opacity: 0;
    scale: .95;
    translate: 0 4rem;
  }
  to {
    filter: none;
    opacity: 1;
    scale: 1;
    transform: 0 0;
  }
}

@keyframes fadeUpAnimation {
  from {
    opacity: 0;
    transform: scale(.5) translateY(10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
